In [242]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [243]:
# Read the csv file into a pandas DataFrame

all_data3 = pd.read_csv('2013_2015_FemRespData.csv', low_memory=False)
all_data2 = pd.read_csv('2011_2013_FemRespData.csv', low_memory=False)
all_data1 = pd.read_csv('2006_2010_FemResp.csv', low_memory=False)

In [244]:
all_data1.columns

Index(['CASEID', 'RSCRNINF', 'RSCRAGE', 'RSCRHISP', 'RSCRRACE', 'AGE_A',
       'AGE_R', 'CMBIRTH', 'AGESCRN', 'MARSTAT',
       ...
       'SECU', 'SEST', 'CMINTVW', 'CMLSTYR', 'CMJAN3YR', 'CMJAN5YR',
       'QUESTYEAR', 'QUARTER', 'PHASE', 'INTVLNGTH'],
      dtype='object', length=3741)

In [245]:
cut_data3 = all_data3[['CASEID', 'CONSTAT1', 'RHADSEX' ,'AGE_A', 'MARSTAT', 'RACE', 'HISPANIC', 'HIEDUC', 'TOTINCR', 'LIFEPRT']]
cut_data2 = all_data2[['CASEID', 'CONSTAT1', 'RHADSEX' ,'AGE_A', 'MARSTAT', 'RACE', 'HISPANIC', 'HIEDUC', 'TOTINCR', 'LIFEPRT']]
cut_data1 = all_data1[['CASEID', 'CONSTAT1', 'RHADSEX' ,'AGE_A', 'MARSTAT', 'RACE', 'HISPANIC', 'HIEDUC', 'TOTINCR', 'LIFEPRT']]

In [246]:
#merge 3 datasets

merged_data1 = cut_data3.merge(cut_data2.merge(cut_data1, how='outer'), how='outer')
merged_data1.head()

,CASEID,CONSTAT1,RHADSEX,AGE_A,MARSTAT,RACE,HISPANIC,HIEDUC,TOTINCR,LIFEPRT
0,60418,1,1,38,2,2,2,9,6,30
1,60419,30,1,37,2,2,2,11,1,5
2,60420,6,1,33,6,1,2,10,15,12
3,60423,1,1,31,6,1,2,10,6,8
4,60426,12,1,39,1,2,2,13,15,8

In [247]:
len(merged_data1.index)

23579

In [248]:
#Remove people that had never had heterosexual sex
merged_data1 = merged_data1[merged_data1.RHADSEX !=5]
#remove people who are not currently on birth control
merged_data1 = merged_data1[merged_data1.CONSTAT1 != 40]
merged_data1 = merged_data1[merged_data1.CONSTAT1 != 41]
merged_data1 = merged_data1[merged_data1.CONSTAT1 != 42]
merged_data1 = merged_data1[merged_data1.CONSTAT1 != 30]
merged_data1 = merged_data1[merged_data1.CONSTAT1 != 31]
merged_data1 = merged_data1[merged_data1.CONSTAT1 != 32]
merged_data1 = merged_data1[merged_data1.CONSTAT1 != 33]
merged_data1 = merged_data1[merged_data1.CONSTAT1 != 34]
merged_data1 = merged_data1[merged_data1.CONSTAT1 != 35]
merged_data1 = merged_data1[merged_data1.CONSTAT1 != 36]

#removed refused/don't know

merged_data1 = merged_data1[merged_data1.LIFEPRT != '999']
merged_data1 = merged_data1[merged_data1.LIFEPRT != '998']

In [249]:
len(merged_data1.index)

13222

In [250]:
merged_data1.dtypes

CASEID       int64
CONSTAT1     int64
RHADSEX      int64
AGE_A        int64
MARSTAT      int64
RACE         int64
HISPANIC     int64
HIEDUC       int64
TOTINCR      int64
LIFEPRT     object
dtype: object

In [251]:
#create categories
# c_sterilization = [1, 2]
# c_norplantIUDDia  = [3, 10, 11]
# c_depo = [5]
# c_pillringpatch = [6, 7, 8]
# c_non_steroid = [12, 14, 17, 18]
# c_withdrawalcal = [19, 20, 21, 22]
bins_constat = [0,2,4,8,11,18,22]
labels_constat = [0,1,2,3,4,5]
bins_lifepart = []
labels_lifepart = []
merged_data1["consolidatedconst1"] = pd.cut(x=merged_data1['CONSTAT1'], bins=bins_constat, labels=labels_constat)
merged_data1.head(300)

,CASEID,CONSTAT1,RHADSEX,AGE_A,MARSTAT,RACE,HISPANIC,HIEDUC,TOTINCR,LIFEPRT,consolidatedconst1
0,60418,1,1,38,2,2,2,9,6,30,0
2,60420,6,1,33,6,1,2,10,15,12,2
3,60423,1,1,31,6,1,2,10,6,8,0
4,60426,12,1,39,1,2,2,13,15,8,4
8,60434,3,1,24,5,2,1,5,3,1,1
10,60439,1,1,44,1,2,2,9,8,10,0
11,60440,12,1,34,1,3,1,5,12,1,4
13,60443,3,1,24,1,2,2,12,10,5,1
14,60445,10,1,31,5,2,2,11,13,10,3
15,60446,2,1,43,1,2,2,13,15,5,0
16,60451,1,1,31,1,2,2,10,12,1,0
17,60453,1,1,30,1,2,2,9,11,10,0
18,60454,5,1,34,1,2,1,9,7,1,2
19,60455,20,1,43,1,2,2,12,15,3,5
20,60456,1,1,40,1,2,1,5,6,3,0
21,60459,1,1,44,1,2,1,5,8,8,0
22,60460,12,1,24,6,2,1,10,2,2,4
23,60464,1,1,39,2,1,2,9,6,5,0
24,60465,6,1,21,2,2,2,9,2,1,2
29,60471,5,1,27,6,2,2,10,13,13,2
30,60474,6,1,19,6,2,2,7,15,3,2
31,60475,1,1,32,6,2,1,12,6,1,0
34,60484,6,1,37,6,1,2,12,14,15,2
36,60486,12,1,18,6,2,2,10,7,3,4
37,60487,1,1,41,1,2,2,10,15,15,0
38,60490,2,1,42,1,1,2,10,12,3,0
39,60493,12,1,22,6,2,2,10,4,1,4
40,60494,21,1,28,1,3,2,12,12,1,5
41,60498,10,1,41,4,2,2,11,8,5,3
42,60499,12,1,43,6,2,1,5,3,6,4
...,...,...,...,...,...,...,...,...,...,...,...
493,61318,10,1,34,2,2,1,9,4,3,3
495,61320,12,1,24,6,1,2,10,4,50,4
498,61326,3,1,24,1,2,2,11,13,1,1
502,61336,12,1,33,1,3,2,13,15,1,4
503,61337,6,1,32,1,2,1,10,13,14,2
504,61340,6,1,19,6,2,2,10,15,1,2
505,61341,2,1,36,2,2,2,15,11,7,0
506,61342,6,1,23,6,1,2,10,2,1,2
507,61343,6,1,25,2,2,2,10,13,9,2
510,61347,6,1,24,6,2,2,10,12,6,2
512,61350,6,1,35,1,3,2,13,15,1,2
513,61351,1,1,31,6,2,1,6,3,15,0
519,61359,21,1,19,6,1,2,10,15,1,5
520,61360,6,1,24,6,1,2,10,8,6,2
521,61361,6,1,24,6,2,1,10,7,2,2
524,61365,1,1,41,6,2,2,9,2,2,0
525,61366,1,1,42,4,1,2,11,11,11,0
526,61368,6,1,38,2,2,1,5,6,2,2
530,61379,12,1,18,2,3,1,9,2,5,4
531,61380,12,1,25,6,2,2,13,15,20,4
536,61390,10,1,31,1,2,2,11,13,6,3
537,61391,10,1,26,2,1,2,7,6,4,3
541,61397,12,1,28,6,1,2,9,5,10,4
545,61403,6,1,25,6,2,2,11,10,8,2
546,61407,20,1,39,1,3,2,10,15,2,5
548,61411,1,1,44,2,1,2,9,6,6,0
551,61414,1,1,44,6,1,2,9,9,5,0
552,61415,1,1,32,2,1,2,9,7,5,0
553,61416,20,1,43,1,2,1,12,13,6,5
555,61420,1,1,41,1,1,2,6,7,5,0

In [252]:
#merged_data1.loc[merged_data1['consolidatedconst1'] < -1]
merged_data1['consolidatedconst1'] = merged_data1['consolidatedconst1'].map({0: 0, 1: 1, 2: 2, 3: 3, 4: 1, 5: 5})
merged_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13222 entries, 0 to 23577
Data columns (total 11 columns):
CASEID                13222 non-null int64
CONSTAT1              13222 non-null int64
RHADSEX               13222 non-null int64
AGE_A                 13222 non-null int64
MARSTAT               13222 non-null int64
RACE                  13222 non-null int64
HISPANIC              13222 non-null int64
HIEDUC                13222 non-null int64
TOTINCR               13222 non-null int64
LIFEPRT               13222 non-null object
consolidatedconst1    13220 non-null float64
dtypes: float64(1), int64(9), object(1)
memory usage: 1.2+ MB

In [253]:
merged_data1.drop(columns = ['RHADSEX', 'CASEID', 'CONSTAT1', 'LIFEPRT', 'TOTINCR'], inplace = True)

In [254]:
merged_data1 = merged_data1.dropna()

In [255]:
merged_data1.groupby("consolidatedconst1").count()

                    AGE_A  MARSTAT  RACE  HISPANIC  HIEDUC
consolidatedconst1
0.0                  4101     4101  4101      4101    4101
1.0                  2571     2571  2571      2571    2571
2.0                  4330     4330  4330      4330    4330
3.0                  1225     1225  1225      1225    1225
5.0                   993      993   993       993     993

In [256]:
merged_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13220 entries, 0 to 23577
Data columns (total 6 columns):
AGE_A                 13220 non-null int64
MARSTAT               13220 non-null int64
RACE                  13220 non-null int64
HISPANIC              13220 non-null int64
HIEDUC                13220 non-null int64
consolidatedconst1    13220 non-null float64
dtypes: float64(1), int64(5)
memory usage: 723.0 KB

In [257]:
merged_data1.to_csv('Merged_data.csv')

In [258]:
import os
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [259]:
data = merged_data1

In [260]:
X = data.drop("consolidatedconst1", axis=1)
y = data["consolidatedconst1"]
print(X.shape, y.shape)

(13220, 5) (13220,)

In [261]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

/Users/awoo/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [262]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Create a Neural Network model here
# YOUR CODE HERE
model = Sequential()

In [263]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(9915, 5) (3305, 5) (9915,) (3305,)

In [264]:
X_train = X_train.reset_index(drop=True)
X_train

      AGE_A  MARSTAT  RACE  HISPANIC  HIEDUC
0        42        1     2         2       7
1        21        1     3         2       9
2        29        1     2         2      15
3        22        6     2         2      10
4        26        1     2         2       6
5        32        1     2         2      10
6        35        1     2         1       6
7        22        6     2         2      12
8        25        1     1         2       5
9        18        6     2         2       7
10       30        1     3         2       9
11       32        5     2         2       6
12       26        1     1         2       9
13       34        6     1         2      13
14       35        1     2         2       9
15       31        1     2         2      11
16       18        6     2         2       7
17       39        1     2         1       6
18       36        2     2         2       7
19       43        1     1         2      12
20       38        2     2         1       9
21       21        2     2         2      11
22       42        4     2         2       9
23       39        1     2         2      13
24       33        1     3         2      13
25       38        1     2         1       5
26       20        6     2         2      10
27       42        6     1         2       6
28       18        6     2         2       9
29       25        6     3         2       9
...     ...      ...   ...       ...     ...
9885     37        6     2         2       9
9886     42        1     1         2      10
9887     24        1     2         2      10
9888     44        1     2         2       9
9889     26        2     1         2       5
9890     34        6     1         2       9
9891     33        2     2         1       5
9892     29        1     1         2      11
9893     21        6     1         2      10
9894     22        2     2         2      10
9895     43        1     2         2       5
9896     24        6     2         2      12
9897     32        2     2         2       9
9898     43        1     2         2      11
9899     43        2     1         2      10
9900     34        2     1         2       7
9901     31        1     3         2       7
9902     22        6     1         2       9
9903     43        6     2         1       9
9904     18        6     2         2       7
9905     24        2     3         2       9
9906     21        6     2         2       9
9907     23        1     2         1      12
9908     31        1     2         2      12
9909     33        6     1         2      13
9910     42        5     2         2       9
9911     34        5     2         2      12
9912     21        6     2         2      11
9913     42        1     2         2       9
9914     26        6     2         2      12

[9915 rows x 5 columns]

In [265]:
X_train.iloc[2]

AGE_A       29
MARSTAT      1
RACE         2
HISPANIC     2
HIEDUC      15
Name: 2, dtype: int64

In [266]:
model.add(Dense(units=100, activation='relu', input_dim=X_train.shape[1]))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=9915, activation ="softmax"))

In [267]:
model.compile(loss="sparse_categorical_crossentropy", optimizer="adam", metrics=["sparse_categorical_accuracy"])

In [274]:
model.fit(
    X_train
    ,y_train
    ,epochs=100
    ,verbose=2)

Epoch 1/100
 - 4s - loss: 1.2144 - sparse_categorical_accuracy: 0.5260
Epoch 2/100
 - 4s - loss: 1.2135 - sparse_categorical_accuracy: 0.5270
Epoch 3/100
 - 4s - loss: 1.2138 - sparse_categorical_accuracy: 0.5257
Epoch 4/100
 - 4s - loss: 1.2136 - sparse_categorical_accuracy: 0.5276
Epoch 5/100
 - 4s - loss: 1.2140 - sparse_categorical_accuracy: 0.5251
Epoch 6/100
 - 4s - loss: 1.2110 - sparse_categorical_accuracy: 0.5292
Epoch 7/100
 - 4s - loss: 1.2128 - sparse_categorical_accuracy: 0.5287
Epoch 8/100
 - 4s - loss: 1.2125 - sparse_categorical_accuracy: 0.5280
Epoch 9/100
 - 4s - loss: 1.2127 - sparse_categorical_accuracy: 0.5252
Epoch 10/100
 - 4s - loss: 1.2111 - sparse_categorical_accuracy: 0.5250
Epoch 11/100
 - 4s - loss: 1.2134 - sparse_categorical_accuracy: 0.5249
Epoch 12/100
 - 4s - loss: 1.2100 - sparse_categorical_accuracy: 0.5248
Epoch 13/100
 - 4s - loss: 1.2123 - sparse_categorical_accuracy: 0.5268
Epoch 14/100
 - 4s - loss: 1.2121 - sparse_categorical_accuracy: 0.5276
Epoch 15/100
 - 4s - loss: 1.2124 - sparse_categorical_accuracy: 0.5275
Epoch 16/100
 - 4s - loss: 1.2104 - sparse_categorical_accuracy: 0.5284
Epoch 17/100
 - 4s - loss: 1.2121 - sparse_categorical_accuracy: 0.5289
Epoch 18/100
 - 4s - loss: 1.2108 - sparse_categorical_accuracy: 0.5269
Epoch 19/100
 - 4s - loss: 1.2118 - sparse_categorical_accuracy: 0.5257
Epoch 20/100
 - 4s - loss: 1.2102 - sparse_categorical_accuracy: 0.5283
Epoch 21/100
 - 4s - loss: 1.2114 - sparse_categorical_accuracy: 0.5243
Epoch 22/100
 - 4s - loss: 1.2111 - sparse_categorical_accuracy: 0.5294
Epoch 23/100
 - 4s - loss: 1.2093 - sparse_categorical_accuracy: 0.5282
Epoch 24/100
 - 4s - loss: 1.2105 - sparse_categorical_accuracy: 0.5285
Epoch 25/100
 - 4s - loss: 1.2109 - sparse_categorical_accuracy: 0.5313
Epoch 26/100
 - 4s - loss: 1.2137 - sparse_categorical_accuracy: 0.5276
Epoch 27/100
 - 4s - loss: 1.2086 - sparse_categorical_accuracy: 0.5276
Epoch 28/100
 - 4s - loss: 1.2109 - sparse_categorical_accuracy: 0.5294
Epoch 29/100
 - 4s - loss: 1.2097 - sparse_categorical_accuracy: 0.5261
Epoch 30/100
 - 4s - loss: 1.2101 - sparse_categorical_accuracy: 0.5296
Epoch 31/100
 - 4s - loss: 1.2092 - sparse_categorical_accuracy: 0.5266
Epoch 32/100
 - 4s - loss: 1.2103 - sparse_categorical_accuracy: 0.5294
Epoch 33/100
 - 4s - loss: 1.2095 - sparse_categorical_accuracy: 0.5272
Epoch 34/100
 - 4s - loss: 1.2116 - sparse_categorical_accuracy: 0.5255
Epoch 35/100
 - 4s - loss: 1.2089 - sparse_categorical_accuracy: 0.5292
Epoch 36/100
 - 4s - loss: 1.2101 - sparse_categorical_accuracy: 0.5311
Epoch 37/100
 - 4s - loss: 1.2097 - sparse_categorical_accuracy: 0.5326
Epoch 38/100
 - 4s - loss: 1.2092 - sparse_categorical_accuracy: 0.5286
Epoch 39/100
 - 4s - loss: 1.2100 - sparse_categorical_accuracy: 0.5276
Epoch 40/100
 - 4s - loss: 1.2095 - sparse_categorical_accuracy: 0.5281
Epoch 41/100
 - 4s - loss: 1.2092 - sparse_categorical_accuracy: 0.5261
Epoch 42/100
 - 4s - loss: 1.2102 - sparse_categorical_accuracy: 0.5263
Epoch 43/100
 - 4s - loss: 1.2087 - sparse_categorical_accuracy: 0.5295
Epoch 44/100
 - 4s - loss: 1.2103 - sparse_categorical_accuracy: 0.5284
Epoch 45/100
 - 4s - loss: 1.2094 - sparse_categorical_accuracy: 0.5270
Epoch 46/100
 - 4s - loss: 1.2081 - sparse_categorical_accuracy: 0.5278
Epoch 47/100
 - 4s - loss: 1.2080 - sparse_categorical_accuracy: 0.5248
Epoch 48/100
 - 4s - loss: 1.2089 - sparse_categorical_accuracy: 0.5249
Epoch 49/100
 - 4s - loss: 1.2079 - sparse_categorical_accuracy: 0.5273
Epoch 50/100
 - 4s - loss: 1.2090 - sparse_categorical_accuracy: 0.5261
Epoch 51/100
 - 4s - loss: 1.2089 - sparse_categorical_accuracy: 0.5261
Epoch 52/100
 - 4s - loss: 1.2073 - sparse_categorical_accuracy: 0.5252
Epoch 53/100
 - 4s - loss: 1.2087 - sparse_categorical_accuracy: 0.5270
Epoch 54/100
 - 4s - loss: 1.2095 - sparse_categorical_accuracy: 0.5279
Epoch 55/100
 - 4s - loss: 1.2085 - sparse_categorical_accuracy: 0.5250
Epoch 56/100
 - 4s - loss: 1.2068 - sparse_categorical_accuracy: 0.5294
Epoch 57/100
 - 4s - loss: 1.2092 - sparse_categorical_accuracy: 0.5280
Epoch 58/100
 - 4s - loss: 1.2057 - sparse_categorical_accuracy: 0.5265
Epoch 59/100
 - 4s - loss: 1.2067 - sparse_categorical_accuracy: 0.5315
Epoch 60/100
 - 4s - loss: 1.2067 - sparse_categorical_accuracy: 0.5325
Epoch 61/100
 - 4s - loss: 1.2075 - sparse_categorical_accuracy: 0.5293
Epoch 62/100
 - 4s - loss: 1.2071 - sparse_categorical_accuracy: 0.5305
Epoch 63/100
 - 4s - loss: 1.2067 - sparse_categorical_accuracy: 0.5271
Epoch 64/100
 - 4s - loss: 1.2077 - sparse_categorical_accuracy: 0.5290
Epoch 65/100
 - 4s - loss: 1.2067 - sparse_categorical_accuracy: 0.5283
Epoch 66/100
 - 4s - loss: 1.2083 - sparse_categorical_accuracy: 0.5255
Epoch 67/100
 - 4s - loss: 1.2072 - sparse_categorical_accuracy: 0.5269
Epoch 68/100
 - 4s - loss: 1.2061 - sparse_categorical_accuracy: 0.5290
Epoch 69/100
 - 4s - loss: 1.2072 - sparse_categorical_accuracy: 0.5269
Epoch 70/100
 - 4s - loss: 1.2068 - sparse_categorical_accuracy: 0.5288
Epoch 71/100
 - 4s - loss: 1.2063 - sparse_categorical_accuracy: 0.5285
Epoch 72/100
 - 4s - loss: 1.2065 - sparse_categorical_accuracy: 0.5274
Epoch 73/100
 - 4s - loss: 1.2063 - sparse_categorical_accuracy: 0.5296
Epoch 74/100
 - 4s - loss: 1.2061 - sparse_categorical_accuracy: 0.5287
Epoch 75/100
 - 4s - loss: 1.2054 - sparse_categorical_accuracy: 0.5270
Epoch 76/100
 - 4s - loss: 1.2056 - sparse_categorical_accuracy: 0.5304
Epoch 77/100
 - 4s - loss: 1.2074 - sparse_categorical_accuracy: 0.5281
Epoch 78/100
 - 4s - loss: 1.2060 - sparse_categorical_accuracy: 0.5302
Epoch 79/100
 - 4s - loss: 1.2055 - sparse_categorical_accuracy: 0.5270
Epoch 80/100
 - 4s - loss: 1.2067 - sparse_categorical_accuracy: 0.5297
Epoch 81/100
 - 4s - loss: 1.2066 - sparse_categorical_accuracy: 0.5283
Epoch 82/100
 - 4s - loss: 1.2050 - sparse_categorical_accuracy: 0.5289
Epoch 83/100
 - 4s - loss: 1.2041 - sparse_categorical_accuracy: 0.5301
Epoch 84/100
 - 4s - loss: 1.2059 - sparse_categorical_accuracy: 0.5280
Epoch 85/100
 - 4s - loss: 1.2048 - sparse_categorical_accuracy: 0.5314
Epoch 86/100
 - 4s - loss: 1.2066 - sparse_categorical_accuracy: 0.5293
Epoch 87/100
 - 4s - loss: 1.2055 - sparse_categorical_accuracy: 0.5285
Epoch 88/100
 - 4s - loss: 1.2048 - sparse_categorical_accuracy: 0.5279
Epoch 89/100
 - 4s - loss: 1.2060 - sparse_categorical_accuracy: 0.5293
Epoch 90/100
 - 4s - loss: 1.2066 - sparse_categorical_accuracy: 0.5268
Epoch 91/100
 - 4s - loss: 1.2045 - sparse_categorical_accuracy: 0.5308
Epoch 92/100
 - 4s - loss: 1.2055 - sparse_categorical_accuracy: 0.5269
Epoch 93/100
 - 4s - loss: 1.2048 - sparse_categorical_accuracy: 0.5300
Epoch 94/100
 - 4s - loss: 1.2042 - sparse_categorical_accuracy: 0.5281
Epoch 95/100
 - 4s - loss: 1.2049 - sparse_categorical_accuracy: 0.5262
Epoch 96/100
 - 4s - loss: 1.2045 - sparse_categorical_accuracy: 0.5273
Epoch 97/100
 - 4s - loss: 1.2033 - sparse_categorical_accuracy: 0.5309
Epoch 98/100
 - 4s - loss: 1.2038 - sparse_categorical_accuracy: 0.5267
Epoch 99/100
 - 4s - loss: 1.2038 - sparse_categorical_accuracy: 0.5291
Epoch 100/100
 - 4s - loss: 1.2065 - sparse_categorical_accuracy: 0.5281

In [272]:
model.save("birth_control5features.h5")

In [273]:
model_loss, model_accuracy = model.evaluate(
    X_test, y_test, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 0s - loss: 1.2718 - sparse_categorical_accuracy: 0.5068
Normal Neural Network - Loss: 1.2717860117982989, Accuracy: 0.5068078637123108

In [152]:
input_in = "38:2:5:5:1:9:5:6:30:6"
input_array = input_in.split(':')
input_dict = {'AGE_A': input_array[0], 'MARSTAT': input_array[1], 'RSCRRACE': input_array[2], 'HISP': input_array[3], 'NUMCHILD': input_array[4], 'HIEDUC': input_array[5], 'GOSCHOL': input_array[6], 'RELCUR': input_array[7], 'LIFEPRT': input_array[8], 'TOTINC': input_array[9]}
input_pd = pd.DataFrame(data = input_dict, index=[0])
model.predict_classes(input_pd)

array([0])

In [153]:
X[0:1]

,AGE_A,MARSTAT,RSCRRACE,HISP,NUMCHILD,HIEDUC,GOSCHOL,RELCURR,LIFEPRT,TOTINCR
0,38,2,5,5,1,9,5,6,30,6